body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 250%;
}

section{
display: flex;
margin: 20px 40px;
}

.orange{
    color: orange;
}

.tomatoo{
    color: tomato;
    margin: 0;
    font-weight: 150;
}

.half-width{
    padding: 10px;
    width: 50%;
}

.half-width img{
    padding-left: 20%;
    width: 55%;
}

.half-width h1{
 margin: 0;
}

.link-button{
    background-color: tomato;
    text-decoration: none;
    color:white;
    font-size: 90%;
    padding: 10px 40px;
    border-radius: 5px;
}

.scroll-text{
    color: grey;
    font-size: 80%;
}