body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 250%;
}

section{
display: flex;
}

.orange{
    color: orange;
}

.dark-blue{
    color: rgb(80, 80, 224);
}

.half-width{
    padding: 10px;
    width: 50%;
}

.half-width img{
    padding-left: 20%;
    width: 55%;
}

.half-width h1, h2{
 margin: 0;
}