body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-section{
    display: flex;
    margin: 20px 50px;
    }

.orange{
    color: orange;
}

.tomatoo{
    color: tomato;
    margin: 0;
    font-weight: 150;
}

.half-width{
    padding: 10px;
    width: 50%;
}

.half-width img{
    padding-left: 20%;
    width: 55%;
}

.half-width h1{
 font-size: 250%;
 margin: 0;
}

.link-button{
    background-color: tomato;
    text-decoration: none;
    color:white;
    font-size: 90%;
    padding: 10px 40px;
    border-radius: 5px;
}

.scroll-text{
    color: grey;
    font-size: 80%;
}

#header-border{
    margin-bottom: 5%;
    padding-left: 2%;
    border-left: 5px solid ;
    border-image: linear-gradient(rgb(26, 21, 21), salmon) 1;
}

.second-section{
    display: flex;
    margin: 20px 50px 50px 50px;
}
.center-text{
    margin-top: 5%;
    text-align: center;
}

.div-1{
    margin: 0 10px;
    width: 28%;
    background-color:azure;
    padding: 10px;
    border-radius: 15px;
}
.div-2{
    margin: 0 15px;
    width: 28%;
    background-color: rgb(255, 241, 225);
    padding: 10px;
    border-radius: 15px;
}
.div-3{
    margin: 0 10px;
    width:28%;
    background-color: rgb(255, 214, 222);
    padding: 10px;
    border-radius: 15px;
}

.second-section img{
    width: 50%; 
}

.third-section{
    display: flex;
    margin: 40px 50px;
    background-image: url(images/bg/dream-bg.png);
    background-repeat: no-repeat;
}

.feedback{
    padding: 5% 5%;
    background-color: rgb(250, 242, 242);
    margin: 5%;
    border-radius: 10px;
    text-align: center;
    width: 80%;
}
.feedback-container{
    display: flex;
}
#first-feedback-div{
    width: 20%;
    padding-top: 1%;
    padding-bottom: 3%;
    background-color: rgb(61, 60, 60);
    text-align: center; 
}
#first-feedback-div h1{
    color: rgb(192, 189, 189);
}
.feedback-div{
    width: 40%;
}
.feedback-div a{
    position: absolute  ;
}

footer{
    background-color: rgb(12, 12, 12);
    text-align: center;
}
footer h2{
    margin: 0px;
    color: rgb(253, 252, 252);
}
footer p{
    margin: 0px;
    color: rgb(156, 156, 156);
}