body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.top-section{
    display: flex;
    margin: 20px 50px;
    }

.orange{
    color: orange;
}

.tomatoo{
    color: tomato;
    margin: 0;
    font-weight: 150;
}

.half-width{
    padding: 10px;
    width: 50%;
}

.half-width img{
    padding-left: 20%;
    width: 55%;
}

.half-width h1{
 font-size: 250%;
 margin: 0;
}

.link-button{
    background-color: tomato;
    text-decoration: none;
    color:white;
    font-size: 90%;
    padding: 10px 40px;
    border-radius: 5px;
}

.scroll-text{
    color: grey;
    font-size: 80%;
}

#header-border{
    margin-bottom: 5%;
    padding-left: 2%;
    border-left: 5px solid ;
    border-image: linear-gradient(rgb(26, 21, 21), salmon) 1;
}

.second-section{
    display: flex;
    margin: 20px 50px;
}
.center-text{
    margin-top: 5%;
    text-align: center;
}

.div-1{
    margin: 0 10px;
    width: 28%;
    background-color:azure;
    padding: 10px;
    border-radius: 15px;
}
.div-2{
    margin: 0 15px;
    width: 28%;
    background-color: rgb(255, 241, 225);
    padding: 10px;
    border-radius: 15px;
}
.div-3{
    margin: 0 10px;
    width:28%;
    background-color: rgb(255, 214, 222);
    padding: 10px;
    border-radius: 15px;
}

.second-section img{
    width: 50%; 
}